* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

.fa {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 15em;
    height: 30px;
    font-weight: 900;
    font-size: 30px;
    transform: translate(-50%, -50%);
    padding-left: 10px;
    border: 2px solid;
    -webkit-appearance: none;
}


.fa:hover {
    cursor: pointer;
}
